body {
  font-family: 'Inter';
  font-style: normal;
  padding: 0;
  margin: 0 auto;
  background: #F8FAFE;
}

.heading-background {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  margin: 0 auto;
  background: rgb(233, 240, 246);
  box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.2);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 1400px;
  max-height: 80px;
  box-sizing: border-box;
}

.heading__name {
  display: flex;
}

.heading__logo {
  padding-right: 7px;
  padding-top: 17px;
}

.heading__text {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px; 
  padding: 0;
  margin-top: 18px;
  margin-bottom: 9px;
}

.heading__text_color {
  color: #FF5722;
}

.heading-container {
  display: flex;
  height: 100%;
  max-width: 100px;
  position: relative;
}

.cart-img-1 {
  width: 41px;
  height: 39px;
  position: relative;
  right: 28px;
}

.cart-img-2 {
  width: 43px;
  height: 34px;
  position: relative;
  right: 0px;
}

.cart-number-1_hidden {
  display: none;
}

.cart-number-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #F36223;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: white;
  background: #F36223;
  box-sizing: border-box;
  right: 0px;
  top: -7px;
  z-index: 1;
}

.cart-number-2_hidden {
  display: none;
}

.cart-number-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #F36223;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: white;
  background: #F36223;
  box-sizing: border-box;
  right: 65px;
  top: -7px;
  z-index: 1;
}

.container-margin-auto {
  margin: 0 50px;
}

.container-margin {
  width: 1400px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 98px 0 0 0;
}

.h2 {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px;
  gap: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 0;
}

.images-views {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  gap: 10px;
}

.images-views__container {
  padding: 0;
  margin: 0;
}

.images-views__photo {
  height: 387px;
}

.product-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  gap: 100px;
  position: relative;
  z-index: 0;
}

.product-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  order: 0;
}

.product-color {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}

.product-color__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  padding: 0px;
}

.h3 {
  margin: 0px 0px 15px 0px;
  padding: 0;
}

.product-color__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.product-color__image-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  border: 2px solid transparent;
  outline: 1px solid #888888;
  border-radius: 4px;
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  cursor: pointer;
}

.product-color__image-button:hover {
  background-color:#F2F2F2;  
}

.product-color__image-button:active {
  border: 2px solid transparent;
  outline: 2px solid #A93A09;
  border-radius: 4px;
  box-sizing: border-box;
}

.product-configuration {
  display: flex;
  flex-direction: column;
}

.product-configuration__name {
  margin: 0px;
  padding: 0px;
}

.product-configuration__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 39px; 
  box-sizing: border-box;
}

.product-configuration__button {
  padding: 10px 20px;
  border: 2px solid transparent;
  outline: 1px solid #888888;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.button_selected {
  border: 2px solid transparent;
  outline: 2px solid #F36223;
}

.product-configuration__button:hover {
  background-color:#F2F2F2; 
}

.product-configuration__button:active {
  border: 2px solid transparent;
  outline: 2px solid #A93A09;
  border-radius: 4px;
  box-sizing: border-box;
}

.image-button_selected, .button_selected:active {
  border: 2px solid transparent;
  outline: 2px solid #A93A09;
}

.product-characteristics {
  display: flex;
  flex-direction: column;
}



.product-characteristics__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:0px;
  padding-left: 20px;
}



.last-paragraph {
  margin-bottom: 0;
}

.product-comparison {
  width: 100%;
}



.comparison-table {
  border: 1px solid #888888;
  width: 100%;
  border-collapse: collapse;
}

.table-head {
  padding: 10px;
  border: 1px solid #888888;
  white-space: nowrap;
}

.table-body {
  padding: 10px;
  border-right: 1px solid #888888;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.table_selection {
  cursor: pointer;
}

.table_selection:hover {
  background-color:#F2F2F2; 
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 31px;
  margin-bottom: 30px;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.reviews-header__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.reviews-header__number {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
  margin: 0px 0px 0px 10px;
}

.reviews-header__button:hover {
  background-color:#F2F2F2; 
}

.reviews-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.review {
  display: flex;
  gap: 30px;
}


.review-photo__img {
  width: 140px;
  height: 140px;
}

.review-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.review-content__name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.review-content__stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-self: stretch;
  flex-grow: 0;
  gap: 2px;
  height: 30px;
}

.star1::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Star_g.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.star1:hover::after, .star1:hover ~ .star1::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Star_y.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: .2s;
}

.star2::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Star_g.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.star2:hover::after, .star2:hover ~ .star2::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Star_y.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: .2s;
}

.choise::after {
  display: inline-block;
  content: '';
  /* background-image: url(./images_from_figma/Star_y.svg); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.review-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

.review-content__paragraph {
  margin-top: 0;
  padding-top: 0;
}

.reviews-body__separator {
  padding: 0;
  margin: 0;
  border-top: 1px dashed #888888;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
}

.form {
  margin: 26px 0px 0px 170px;
  padding: 0;
}

.form__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 15px 0px;
  padding: 0;
}

.form__content {
  display: flex;
  flex-direction: column;
}

.form__input {
  display: flex;
}

.input-container1 {
  display: flex;
  flex-direction: column;
  width: 68%;
  box-sizing: border-box;
}

.input-container2 {
  width: 5%;
  box-sizing: border-box;
}

.input-container3 {
  display: flex;
  flex-direction: column;
  width: 27%;
  box-sizing: border-box;
}

.input-mistake-name {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.input-mistake-name-color {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background: #DA4A0C;
  padding-left: 20px;
  padding-right: 20px;
}

.input-mistake-grade {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.input-mistake-grade-color {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background: #DA4A0C;
  padding-left: 20px;
  padding-right: 20px;
}

.input-mistake-review {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;

}

.input-mistake-review-color {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background: #DA4A0C;
  padding-left: 20px;
  padding-right: 20px;
}

.input1 {
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid #888888;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.input2 {
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid #888888;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.input1:hover, .input2:hover, .textarea:hover,
.input1:focus-visible, .input2:focus-visible, .textarea:focus-visible {
  border-radius: 0;
  border: 1px solid black;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}

.input1-mistake, .input2-mistake, .textarea-mistake {
  border-radius: 0;
  border: 1px solid #DA4A0C;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}

.textarea {
  width: 100%;
  height: 190px;
  resize: none;
  box-sizing: border-box;
  padding: 15px 20px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #888888;
}

.textarea::placeholder, 
.input1::placeholder, 
.input2::placeholder {
  color: #888888;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
}

.form__button {
  align-self: flex-start;
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 0px;
  gap: 40px;
  width: 420px;
  order: 1;
  flex-grow: 0; 
  box-sizing: border-box;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 35px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
}

.old-price {
  color: #888888;
  text-decoration-line: line-through;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-right: 10px;

}

.sale{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  background: #F36223;
  border-radius: 500px;
  order: 1;
  flex-grow: 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.sidebar-info__choise {
  cursor: pointer;
  transition: .2s;
}

.sidebar-info__like::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/heart_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 1px;
  width: 26px;
  height: 20px;
}

.sidebar-info__like:hover::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/heart_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 1px;
  width: 26px;
  height: 20px;
}

.sidebar-info__like_focus:hover::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Heart_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 1px;
  width: 26px;
  height: 20px;
}

.sidebar-info__like:active::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/heart_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 1px;
  width: 26px;
  height: 20px;
}

.sidebar-info__like_focus::after {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Heart_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 1px;
  width: 26px;
  height: 20px;
}

.new-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  order: 1;
  flex-grow: 0;
  margin-top: 14px;
  margin-bottom: 15px;
}

.sidebar-info__sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-info__container {
  display: flex;
  align-items: center;
}

.sidebar-info__price {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar-info__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.delivery__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-self: stretch;
}

.delivery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 49px;
  gap: 10px;
  background: #F36223;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0; 
  align-self: stretch;
  width: 100%;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.sidebar__button_choise {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 49px;
  gap: 10px;
  background: #888888;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0; 
  align-self: stretch;
  width: 100%;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.form__button_button {
  padding: 10px 20px;
}

.sidebar__button::before {
  display: inline-block;
  content: '';
  background-image: url(./images_from_figma/Cart_w.svg);
  background-size: contain;
  width: 21px;
  height: 20px;
}

.form__button_button::before {
  display: none;
}

.sidebar__button:hover {
  background-color: #DA4A0C;
}

.sidebar__button_choise:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 49px;
  gap: 10px;
  background: #888888;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0; 
  align-self: stretch;
  width: 100%;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.sidebar__button:active {
  background-color: #A93A09;
}

.sidebar-iframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
  
}

.sidebar-iframe__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  order: 0;
  flex-grow: 0;
  padding:0px;
  margin: 0px;
}

.sidebar-iframe__content {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 15px;
height: 100%;
box-sizing: border-box;
width: 420px;
}

.iframe {
  width: 100%;
  height: 300px;
  border: 1px dashed #ccc;
  box-sizing: border-box;
}

.a {
  color: #008CF0;
  text-decoration: none;
  cursor: pointer;
}

.a:hover {
  color: #F36223;
}

.a:active {
  color: #A93A09;
}

.message-cart_hidden {
  display: none; 
}

.message-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: #141414;
  color: #F8FAFE;
  max-height: 30px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.9;
  left: 40%;
  right: 40%;
  top: 40%;
  bottom: 40%;
  animation: hide 4s;

}

@keyframes hide {

from {opacity: 1;}

to {opacity: 0;}

}





.footer-background {
  background-color: #F2F2F2;
  width: 100%;
  margin: 60px 0 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 30px 0;
  background-color: transparent;
  width: 1400px;
  margin: 0 auto;
  
}


@media (max-width: 1024px) {

  .heading-background {
      position: fixed;
      margin: 0 auto;
      top: 0;
      right: 0;
      left: 0;
      background: rgb(233, 240, 246);
      box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.2);
  }

  .heading-margin {
      padding: 0;
      margin: 0 auto;
  }

  .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 0 15px;
      width: 994px;
      max-height: 80px;
      box-sizing: border-box;
  }

  .images-views__photo {
      height: 272px;
  }

  .product-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0;
      gap: 40px;
  }

  .product-comparison {
      display: none;
  }

  .container-margin-auto {
      margin: 0 15px;
  }

  .container-margin {
      width: 994px;
      padding: 0;
      margin: 0 auto;
  }

  .review-photo__img {
      width: 100px;
      height: 100px;
  }

  .star {
      width: 20px;
      height: 20px;
  }

  .form {
      margin: 26px 0px 0px 0px;
      padding: 0;
  }

  .images-views__container {
      padding: 0;
      margin: 0;
  }

  .sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;
      padding: 0px;
      gap: 40px;
      width: 360px; 
      box-sizing: border-box;
  }

  .sidebar-iframe__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 15px;
      height: 100%;
      box-sizing: border-box;
      width: 360px;
    }

  .iframe {
      width: 360px;
      height: 300px;
      border: 1px dashed #ccc;
      box-sizing: border-box;
  }

  .footer-background {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F2F2F2;
      width: 1024px;
      margin: 0 auto;
  }
  
  .footer-background {
      background-color: #F2F2F2;
      width: 1024px;
      margin: 60px 0 0;
  }

  .footer-margin {
      margin: 0 15px;
      width: 100%;
  }
  
  .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 30px 0;
      background-color: transparent;
      width: 994px;
  }

}

@media (min-width: 1025px) and (max-width: 1499px) {

  .heading-background {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      margin: 0;
      background: rgb(233, 240, 246);
      box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
  }

  .heading-margin {
      padding: 0;
      margin: 0 15px;
  }
  
  .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      max-height: 80px;
      box-sizing: border-box;
  }

  .container-margin-auto {
      margin: 0 15px;
  }

  .container-margin {
      width: 100%;
      margin: 0 auto;
  }

  .product-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      gap: 3%;
  }

  .product-information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      flex-grow: 1;
      width: 63%;
  }

  .sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;
      padding: 0px;
      gap: 40px;
      width: 30%; 
      min-width: 360px;
      box-sizing: border-box;
  }

  .sidebar-iframe__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 15px;
      height: 100%;
      box-sizing: border-box;
      width: 100%;
    }

  .product-comparison {
      display: none;
  }

  .images-views {
      display: flex;
      overflow: scroll;
      overflow-y: hidden;
      align-items: center;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 30px;
      gap: 10px;
      width: 100%;
  }

  .footer-background {
      background-color: #F2F2F2;
      width: 100%;
      margin: 60px 0 0;
  }

  .footer-margin {
      margin: 0 15px;
  }
  
  .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 30px 0;
      background-color: transparent;
      width: 100%;
  }
  
}

