html {
    font-family: 'Inter';
    font-style: normal;
    padding: 0;
    margin: 0 auto;
    background: #F8FAFE;
    width: 100%;
}

.container-margin-auto {
    margin: 0 50px;
}

.container-margin {
    width: 1400px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1024px) {

    .container-margin-auto {
        margin: 0 15px;
    }

    .container-margin {
        width: 994px;
        padding: 0;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) and (max-width: 1499px) {

    .container-margin-auto {
        margin: 0 15px;
    }

    .container-margin {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {

    .container-margin-auto {
        margin: 0 10px;
    }

    .container-margin {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }
}
