.h2 {
    display: flex;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
}

.imagesViews {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
}

.imagesViewsPhoto {
    height: 387px;
}

@media (max-width: 1024px) {

    .imagesViewsPhoto {
        height: 272px;
    }

}

@media (min-width: 1025px) and (max-width: 1499px) {

    .imagesViews {
        display: flex;
        overflow: scroll;
        overflow-y: hidden;
        align-items: center;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        gap: 10px;
        width: 100%;
    }
}

@media (max-width: 360px) {

    .viewsName {
        display: flex;
        align-items: center;
        padding: 0px 0px 20px;
        gap: 10px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
    }

    .imagesViews {
        overflow: scroll;
        overflow-y: hidden;
        margin-top: 0;
    }
}
