.footer-background {
  background-color: #F2F2F2;
  width: 100%;
  margin: 60px 0 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 30px 0;
  background-color: transparent;
  width: 1400px;
  margin: 0 auto;

}

.footer-item {
  display: flex;
  gap: 4px;
}

.footer-link-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {

  .footer-background {
      background-color: #F2F2F2;
      width: 1024px;
      margin: 60px 0 0;
  }

  /* .footer-margin {
      margin: 0 15px;
      width: 100%;
  } */

  .footer {
      margin: 0 auto;
      width: 994px;
  }
}

@media (min-width: 1025px) and (max-width: 1499px) {

  .footer-background {
      background-color: #F2F2F2;
      width: 100%;
      margin: 60px 0 0;
  }

  .footer-margin {
      margin: 0 15px;
  }

  .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 30px 0;
      background-color: transparent;
      width: 100%;
  }
}

@media (max-width: 360px) {

  .footer-background {
      margin-top: 40px;
      width: 360px;
  }

  .footer-margin {
      width: 340px;
      margin: 0 10px;
  }

  .footer {
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 20px;
      padding: 20px 0;
  }

  .footer__text {
      font-size: 14px;
      line-height: 17px;
      width: 340px;
  }

  .footer-item {
      display: inline;
  }

  .footer-content {
      display: inline-block;
  }
}
