.iframe-content {
    padding: 0px;
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F0F0F0;
    border: 1px dashed #888888;
    box-sizing: border-box;
  
}

@media (max-width: 1024px) {

    .iframe-content {
        width: 360px;
        height: 300px;
        box-sizing: border-box;
    }
}

@media (min-width: 1025px) and (max-width: 1499px) {

    .iframe-content {
        width: 100%;
        min-width: 360px;
    }
}
