.errorText{
  margin: 390px 500px;
}
.errorPage{
width: 453px;
height: 57px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
text-decoration: none;
color: #000000;
}
.errorId{
  width: 453px;
  height: 57px;
  margin: 130px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #008CF0;

}
.errorId:active {
color: red;


}
.errorId:hover {
  color: green;
text-decoration: underline;

  }


  @media (max-width: 1024px) {
    .errorText{
      margin: 390px 500px;
    }
    .errorPage{
    width: 453px;
    height: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    }
    .errorId{
      width: 453px;
      height: 57px;
      margin: 130px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-decoration: none;
      color: #008CF0;
    
    }
    .errorId:active {
    color: red;
    
    
    }
    .errorId:hover {
      color: green;
    text-decoration: underline;
    
      }
}

@media (min-width: 1025px) and (max-width: 1499px) {

  .errorText{
    margin: 390px 500px;
  }
  .errorPage{
  width: 453px;
  height: 57px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  }
  .errorId{
    width: 453px;
    height: 57px;
    margin: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: #008CF0;
  
  }
  .errorId:active {
  color: red;
  
  
  }
  .errorId:hover {
    color: green;
  text-decoration: underline;
  
    }
}

@media (max-width: 360px) {

  .errorText{
    margin: 390px 500px;
  }
  .errorPage{
  width: 453px;
  height: 57px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  }
  .errorId{
    width: 453px;
    height: 57px;
    margin: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: #008CF0;
  
  }
  .errorId:active {
  color: red;
  
  
  }
  .errorId:hover {
    color: green;
  text-decoration: underline;
  
    }
}
