.heading-background {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: 0;
    background: rgb(233, 240, 246);
    box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.2);
}

.heading-margin {
    padding: 0;
    margin: 0 50px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 1400px;
    max-height: 80px;
    box-sizing: border-box;
}

.heading__name {
    display: flex;
}

.heading__logo {
    padding-right: 7px;
    padding-top: 17px;
}

.heading__text {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 12px;
}

.heading__text_color {
    color: #FF5722;
}

.heading-container {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
}

.cart-img-1 {
    width: 41px;
    height: 39px;
    position: relative;
    right: 28px;
}

.cart-img-2 {
    width: 43px;
    height: 34px;
    position: relative;
    right: 0px;
}

.cart-number-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 0px;
    top: -7px;
    z-index: 1;
    transition: 0.2s;
}

.cart-number-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 65px;
    top: -7px;
    z-index: 1;
    transition: 0.2s;
}

.hidden {
    display: none;
}

@media (max-width: 1024px) {

    .heading-margin {
        margin: 0 15px;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 auto;
        width: 994px;
        max-height: 80px;
        box-sizing: border-box;
    }

}

@media (min-width: 1025px) and (max-width: 1499px) {

    .heading-margin {
        padding: 0;
        margin: 0 15px;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-height: 80px;
        box-sizing: border-box;
    }
}

@media (max-width: 360px) {

    .heading-margin {
        padding: 0;
        margin: 0 auto;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 10px;
        width: 340px;
        max-height: 55px;
        box-sizing: border-box;
    }

    .heading__logo {
        padding-right: 7px;
        padding-top: 10px;
    }

    .heading__logo-img {
        width: 23.76px;
        height: 30px;
    }

    .heading__text {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding: 0;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .cart-img-1 {
        width: 26px;
        height: 20.8px;
        position: relative;
        right: 14.86px;
    }

    .cart-img-2 {
        width: 24.7px;
        height: 23.5px;
        position: relative;
        right: 0px;
    }

    .cart-number-1 {
        width: 10px;
        height: 10px;
        font-size: 8px;
        top: -4px;
        right: -2px;
    }

    .cart-number-2 {
        width: 10px;
        height: 10px;
        font-size: 8px;
        left: 3px;
        top: -4px;
    } 
}
